*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgb(212, 212, 212);
}
.side-bar{
    height: 90%;
    width: 280px;
    position: fixed;
    background-image: url(Images/bks.jpg);
    background-size: cover;
    overflow: auto;
    
}

/* .overlay{
    width: 280px;
    height: 700px;
    background-color: rgba(64, 60, 3, 0.037);
} */

.section1{
    width: 257px;
    padding: 10px;
    padding-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 96, 165);
    position: sticky;
    top: 0;
}
.section1 h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(218, 216, 216);
    font-size: 26px;
    margin-left: 15px;
}

/* width */
.side-bar::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
.side-bar::-webkit-scrollbar-track {
    background: transparent; 
}

.side-bar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.264); 
  }
   




.section2 .dash{
    display: flex;
    align-items: center;
    padding: 8px 14px;
    background-color: rgb(52, 120, 237);
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}
.dash i{
    font-size: 22px;
}

.dash p{
    margin-left: 12px;
    font-size: 19px;
    margin-top: 3px;
    
}

.options p{
    padding: 10px 16px;
    color: rgb(218, 216, 216);
    cursor: pointer;
    transition: 0.6s;

}
.options p:hover{
    color: rgb(52, 120, 237);
}

.part2{
    display: flex;
    align-items: center;
}
.part2 img{
    border-radius: 50%;
    margin-left: 20px;
}

.right-section1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 28px;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;
}

.header{
    display: flex;
}